/* Color Theme Swatches in Hex */
.Incert-1-hex { color: #FAF8F0; }
.Incert-2-hex { color: #F5F1E0; }
.Incert-3-hex { color: #DBFDC4; }
.Incert-4-hex { color: #7DB581; }
.Incert-5-hex { color: #424A4C; }

/* Color Theme Swatches in RGBA */
.Incert-1-rgba { color: rgba(250, 248, 240, 1); }
.Incert-2-rgba { color: rgba(245, 241, 224, 1); }
.Incert-3-rgba { color: rgba(219, 253, 196, 1); }
.Incert-4-rgba { color: rgba(125, 181, 129, 1); }
.Incert-5-rgba { color: rgba(76, 83, 87, 1); }

/* Color Theme Swatches in HSLA */
.Incert-1-hsla { color: hsla(48, 50, 96, 1); }
.Incert-2-hsla { color: hsla(49, 51, 92, 1); }
.Incert-3-hsla { color: hsla(96, 93, 88, 1); }
.Incert-4-hsla { color: hsla(124, 27, 60, 1); }
.Incert-5-hsla { color: hsla(202, 7, 32, 1); }

body {
  margin: 0; 
  padding: 0;
  background-color: #FAF8F0;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}

nav {
    background-color: #FAF8F0;
    /* box-shadow: 0px 2px 10px #F5F1E0;  */
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    position:fixed;
    top:0;
    z-index: 5;
  }
  
  .title {
    color: #7DB587;
    font-size: 24px;
    margin-left: 45px;
    font-weight: 600;
    display: flex;
    align-items: left;
  }
  
  nav .title a {
    text-decoration: None;
    color:#7DB587;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
  }
  
  nav li {
    margin: 0px;
    padding: 0px 0px;
    vertical-align: middle;
  }

  nav li a {
    display:block;
    color: #4C5357;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
    font-weight: 300;
    transition: background-color 0.3s ease;
  }
  
  nav li a:hover {
    background-color: #8ABC8F;
    margin:0;
    padding:auto;
  }

  nav li .selected,
  nav li .selected:hover {
  color: #CFFCB1;
  background-color: #424A4C;
}

.progress-container {
  position:fixed;
  top:59px;
  z-index: 5;
  width: 100%;
  height: 8px;
  background: #F5F1E0;
}

  .progress-bar {
    height: 8px;
    background: #7DB581;
    width: 0%;
  }

#menuToggle {
  display: block;
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 10;
  
  -webkit-user-select: none;
  user-select: none;
}
  

  #menuToggle input
  {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor:pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */

  -webkit-touch-callout: none;
  }

  #menuToggle span
  {
    display: block;
    width: 30px;
    height: 4px;
    margin-bottom: 4px;
    background: #cdcdcd;
    position: relative;
    border-radius: 3px;
    z-index: 10;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
  }

  #menuToggle span:first-child {
    transform-origin: 0% 50%;
  }

  #menuToggle span:nth-last-child(2) {
    transform-origin: 0% 50%;
  }

  #menuToggle input:checked ~ span
  {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #7DB587;
  }

  #menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }

  #menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
  }

  #menu {
    position: fixed;
    width: 200px;
    margin: -85px 0 0 -50px;
    padding: 100px 30px;
    
    background: transparent;
    list-style-type: none;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);

    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    z-index: 0;
  }

  #menu li {
    margin: 0;
    font-size: 17px;
    text-align: left;
    opacity: 0.8;
    font-weight: 300;
    line-height: 2em;
    background-color: #F5F1E0;
  }

  #menu li:hover {
    background-color:#d4cdb2;
    cursor: pointer;
  }

  #menu a {
    display:block;
    padding: 10px 25px;
    text-decoration:none;
    color: #232323;
    transition: color 0.3s ease;
  }



  #menuToggle input:checked ~ ul {
  transform: none;
  }



#landing-page {
    text-align: center;
    margin: 50px auto;
    max-width: 1200px;
    position:relative;
    top: 50px;
  }

  #landing-page #titles {
    max-width: 800px;
    margin:auto;
  }
 
  #landing-page #titles h1 {
    font-size: 80px;
    max-width: 800px;
    line-height: 1;
    margin-top: 10px;
    margin-bottom: 10px;
    color:#7DB587
  }
  #landing-page #titles p {
    font-size: 20px;
    line-height: 1.5;
    color: #4C5357;
    margin-bottom: 0;
    text-align: center;
  }

  #landing-page #appInfo {
    max-width: 1200px;
  }
  #landing-page #appInfo p {
    font-size: 15px;
    font-weight: 350;
  }
  #landing-page #appInfo p a{
    font-weight: 600;
    color: #4C5357;
  }

/* News Ticker */
.news-ticker {
  margin: 62px auto;
  top:5px;
  width: 100%;
  height: 30px;
  position: relative;
  overflow: hidden;
  background-color: rgb(82, 82, 82);
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: bold;
}

.news-ticker ul {
  list-style-type: none;
  margin: 5px;
  padding: 0;
  display: inline-block;
  white-space: nowrap;
  text-align: center;
  animation: newsTicker 50s linear infinite;
}

.news-ticker li{
  display: inline;
  padding: 20px;
  color:rgb(255, 255, 255)
}

.news-ticker a{
  color:rgb(255, 255, 255);
  text-decoration: none;
}

.news-ticker a:hover{
  color:rgb(255, 255, 255);
  text-decoration: underline dotted;
}

@keyframes newsTicker {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* MAP */ 
.map {
  position: relative;
  margin: 140px 0 100px;
  text-align: center;
  width: 100%;
  height: 100%;
  z-index: 1;
}

/*
.mapbox {
  display: none;
}

.mapbox.active {
  display: block;
}
*/

#mapbox {
  position: relative;
  width:100%;
  height: 700px;
  margin: 0 auto;
}

/* hiding cluster map and switch tabs */

#mapbox1,
#mapSection #tabs .tab {
  display:none;
}

/* dropdown menu */
.dropdown-container {
  display: flex;
  align-items: center;
  position: relative;
  left: 100px; 
  top: 100px; 
  width: 200px;
}

.dropdown {
  width: 100%;
  background-color: rgba(219, 253, 196, 0.9);
  padding: 5px 10px;
  font-size: 16px;
  font-family: 'Helvetica', sans-serif;
  font-weight: 200;
  z-index: 5;
  cursor: pointer;
  box-sizing: border-box;
}

.dropdown::after {
  content: "";
  position: absolute;
  top: 60%;
  right: 15px;
  border: 6px solid transparent;
  border-top-color: #666; /* Adjust color as needed */
  transform: translateY(-50%);
}

#display-button {
  width: 100%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background: none;
  border: none;
  margin: 0;
  font-family: 'Helvetica', sans-serif;
  font-weight: 200;
  font-size: 16px;
  cursor: pointer;
  outline: none;
  box-sizing: border-box;
}

.drop-options {
  position: absolute;
  top: 100%;
  left: 0px;
  background-color: rgba(219, 253, 196, 0.9);
  width: 100%; 
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.drop-option {
  color: #444;
  padding: 12px 16px;
  height: 24px;
  text-decoration: none;
  display: block;
  font-family: 'Helvetica',sans-serif;
  font-weight: 200;
  text-align: center;
}

.dropdown:hover {
  background-color: #bed9ac;
}

.drop-option:hover {
  background-color: #bed9ac;
}

#dateRangePicker {
  position: relative;
  align-self: center;
  width: 98%;
  height: 40px;
  border: none;
  text-align: center;
  background-color: #F5F1E0;
}

#applyCustomDate {
  position: relative;
  width: 100%;
  height: 40px;
  border: none;
  background-color: #F5F1E0;
}

#applyCustomDate:hover {
  cursor: pointer;
  background-color:#eee5bb
}

/* Legend */
.map-overlay {
  position: absolute;
  bottom: 5px;
  left: 100px;
  background: #F5F1E0;
  opacity: 0.9;
  font-family: 'Helvetica', sans-serif;
  font-weight: 200;
  font-size: 15px;
  text-align: left;
  overflow: auto;
  border-radius: 3px;
} 

  #legend {
    padding: 10px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    line-height: 30px;
    height: 210px;
    margin-bottom: 40px;
    width: 180px;
  }

  .legend-key {
    display: inline-block;
    border-radius: 20%;
    width: 15px;
    height: 15px;
    margin-right: 5px;

}


/* POP-UP */ 
.custom-popup .mapboxgl-popup-content {
  background-color: rgba(76, 83, 87, 0.8);
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  font-family: Arial, sans-serif;
  text-align: left;
}

.custom-popup .mapboxgl-popup-tip {
  border-top-color: #424A4C;
}

/* CHILD PAGE */
#clery,
#about {
  text-align: left;
  margin: 50px auto;
  max-width: 800px;
  position:relative;
  color:#333;
  top:100px
}
  #clery h2,
  #about h2 {
    font-weight:600;
    color:#7DB587;
  }

  #clery p,
  #about p {
    line-height: 1.5;
    margin-bottom: 30px;
    color:#333;
  }

  #clery a,
  #about a {
    color:#4C5357;
  }

  #clery a:hover,
  #about a:hover {
    color:#7DB581
  }

.data-background {
  background-color: #b4b1b1;
}
  .data-container{
  color: white;
  display: flex;
  justify-content: space-between;
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
  overflow: visible;
}

  .data {
    flex:1;
    margin: 0 20px;
    line-height: 1em;
  }

  .data h1 {
    color: #7DB581;
    font-size: 50px;
  }

  /*stack on smaller screen */
  @media screen and (max-width: 768px) {
    .data-container {
      flex-direction: column;
    }
  }

/* Year, Month, Week, Day buttons */
.input-wrapper {
  display: flex;
  justify-content: center; 
  padding-bottom: 45px;
}

#my_dataviz {
  margin-top: 35px;
  position: relative;
}

.tooltip {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 0.5rem;
  font-size: 0.875rem;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s;
}

.input-wrapper .options {
  display: flex;
  justify-content: center; 
}

.input-wrapper .options input[type="radio"] {
  display: none;
}

.input-wrapper .options label {
  display: inline-block;
  padding: 8px 16px;
  background-color: #E0E4E6;
  border: 1px solid #ccc;
  color: #777F83;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.input-wrapper .options label:first-of-type {
  border-top-left-radius: 4px; 
  border-bottom-left-radius: 4px;
}

.input-wrapper .options label:last-of-type {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.input-wrapper .options label:hover {
  background-color: rgba(125, 181, 129, 0.6);
}

.input-wrapper .options input[type="radio"]:checked + label {
  background-color: #FAF8F0;
  color: #4C5357;
  font-weight: bold;
}

.story-container{
  color:#424A4C;
  display: flex;
  justify-content: space-between;
  margin:0 auto;
  max-width: 1000px;
}

  .story {
    flex:1;  
    margin:50px 10px;  
    padding: 0 100px;
  }

  .story h2 {
    color: #7DB581;
    font-size: 35px;
  }

  .story p {
    color:#777;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 700px;
    margin:20px auto;
    text-align: left;
    line-height: 1.5em;
  }

  .story .quote {
    color:#7DB581;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-style: italic;
    font-size: 18px;
    max-width: 700px;
    padding-left: 80px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
    line-height: 1.5em;
  }

  #inspoSection {
    text-align: center;
  }
  #inspoSection h2 {
    color: #7DB581;
    font-size: 35px;
  }

  #inspoSection p {
    color:#777;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 700px;
    margin:20px auto;
    text-align: left;
    line-height: 1.5em; 
  }

  #inspoSection p a,
  #resource_sect p a {
    color: #7DB581;
  }

  #inspoSection p a:hover,
  #resource_sect p a:hover {
    color:#232323; 

  }

  #inspoSection p.centered {
    text-align: center;
    margin-top: 30px;
    color:#7DB587
  }

  #resource_sect p {
    color: #7DB581;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 30px;
    line-height: 1.5em;
    font-size: 15px;
  }
  
#main-container{
  min-height: calc(100vh - 50px);
  padding-bottom: 50px;
}

/* scroll reveal stylings */
.text-holder{
  width: 50%;
}

#json-content{
  flex-grow: 1
}

.json-sentence {
  white-space: nowrap; 
  overflow: visible;
}

.json-sentence:not(:last-child) {
  margin-bottom: 0;
}

.text-holder.left{
  float: left;
  width: 70%;
  text-align: left;
  justify-content: flex-start;
  align-items: flex-start;
}

.text-holder.right{
  float: right;
  text-align: right;
  justify-content: flex-end;
  align-items: right;
}

.text-container {
  width: 100%;
  float: left;
  text-align: left;
  align-items: flex-start;
  margin-left: -6.5%;
  margin-top: 55px;
  position: relative;
}

html.sr .load-hidden{
  visibility: hidden;
}

.rest-of-sentence {
  font-size: 1.1em; 
}

.emphasis {
  font-weight: bold;
  color: rgb(187 71 71);
  font-size: 1.3em;
  position: relative;
}

footer {
  color:#999;
  font-size: 10px;
  margin: 50px auto;
  padding: 10px;
  text-align: center;
  bottom: 0;
  width: 100%;
}