/* Color Theme Swatches in Hex */
.Incert-1-hex { color: #FAF8F0; }
.Incert-2-hex { color: #F5F1E0; }
.Incert-3-hex { color: #DBFDC4; }
.Incert-4-hex { color: #7DB581; }
.Incert-5-hex { color: #424A4C; }

/* Color Theme Swatches in RGBA */
.Incert-1-rgba { color: rgba(250, 248, 240, 1); }
.Incert-2-rgba { color: rgba(245, 241, 224, 1); }
.Incert-3-rgba { color: rgba(219, 253, 196, 1); }
.Incert-4-rgba { color: rgba(125, 181, 129, 1); }
.Incert-5-rgba { color: rgba(76, 83, 87, 1); }

/* Color Theme Swatches in HSLA */
.Incert-1-hsla { color: hsla(48, 50, 96, 1); }
.Incert-2-hsla { color: hsla(49, 51, 92, 1); }
.Incert-3-hsla { color: hsla(96, 93, 88, 1); }
.Incert-4-hsla { color: hsla(124, 27, 60, 1); }
.Incert-5-hsla { color: hsla(202, 7, 32, 1); }

body {
  margin: 0; 
  padding: 0;
  background-color: #FAF8F0;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}

nav {
    background-color: #FAF8F0;
    /* box-shadow: 0px 2px 10px #F5F1E0;  */
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    position:fixed;
    top:0;
    z-index: 5;
  }
  
  .title {
    color: #7DB587;
    font-size: 24px;
    margin-left: 55px;
    font-weight: 600;
    display: flex;
    align-items: left;
  }
  
  nav .title a {
    text-decoration: None;
    color:#7DB587;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
  }
  
  nav li {
    margin: 0px;
    padding: 0px 0px;
    vertical-align: middle;
  }

  nav li a {
    display:block;
    color: #4C5357;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
    font-weight: 300;
    transition: background-color 0.3s ease;
  }
  
  nav li a:hover {
    background-color: #8ABC8F;
    margin:0;
    padding:auto;
  }

  nav li .selected,
  nav li .selected:hover {
  color: #CFFCB1;
  background-color: #424A4C;
}

.progress-container {
  position:fixed;
  top:55px;
  z-index: 5;
  width: 100%;
  height: 8px;
  background: #F5F1E0;
}

  .progress-bar {
    height: 8px;
    background: #7DB581;
    width: 0%;
  }

#menuToggle {
  display: block;
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 10;
  
  -webkit-user-select: none;
  user-select: none;
}
  
  #menuToggle a {
    text-decoration:none;
    color: #232323;
    transition: color 0.3s ease;
  }

  #menuToggle a:hover {
    color:#7DB587;
    ;
  }

  #menuToggle input
  {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor:pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */

  -webkit-touch-callout: none;
  }

  #menuToggle span
  {
    display: block;
    width: 30px;
    height: 4px;
    margin-bottom: 4px;
    background: #cdcdcd;
    position: relative;
    border-radius: 3px;
    z-index: 10;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
  }

  #menuToggle span:first-child {
    transform-origin: 0% 50%;
  }

  #menuToggle span:nth-last-child(2) {
    transform-origin: 0% 50%;
  }

  #menuToggle input:checked ~ span
  {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #7DB587;
  }

  #menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }

  #menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
  }


  #menu {
    position: fixed;
    width: 200px;
    height: 100vh;
    margin: -81px 0 0 -50px;
    padding: 30px;
    padding-top: 100px;
    
    background: transparent;
    list-style-type: none;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);

    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    z-index: 0;
  }

  #menu li {
    padding: 25px 30px;
    margin: 0;
    font-size: 17px;
    text-align: left;
    opacity: 0.8;
    font-weight: 300;
    line-height: 3em;
    background-color: #F5F1E0;
  }

  #menuToggle input:checked ~ ul {
  transform: none;
  }
/* scroller */ 
.scroll-indicator {
  width: 40px;
  height: 60px;
  border: 2px solid rgba(125, 181, 129, 0.6);
  border-radius: 50px;
  position: fixed;
  bottom: 20px;
  right:20px;
  box-shadow: 0px 0px 35px -5px rgba(100, 181, 129, 1);
  z-index: 1;
}

  .scroll-indicator::before {
    content: '';
    position: absolute;
    top: .5em;
    left: 50%;
    width: 10px;
    height: 10px;
    background-color: rgba(125, 181, 129, 0.6);
    border-radius: 50%;
    transform: translate(-50%, 0);
    animation: scrollAnim 1.8s .5s infinite ease-in;
    box-shadow: 0px 0px 35px -5px rgba(100, 181, 129, 1);
  }

  .scroll-indicator.stop::before {
    animation-play-state: paused; 
  }

  /* Animation */
  @keyframes scrollAnim {
    0% {
      transform: translate(-50%, 0) rotateX(0);
      opacity: 0;
    }

    5% {
      opacity: .5;
    }

    15% {
      opacity: 1;
    }

    90%,
    100% {
      opacity: 0;
    }

    100% {
      transform: translate(-50%, 30px) rotateX(30deg);
    }
  }
  /* Animation */


#landing-page {
    text-align: center;
    margin: 50px auto;
    max-width: 800px;
    position:relative;
    top:120px;
  }
 
  #landing-page h1 {
    font-size: 80px;
    line-height: 1;
    margin-top: 10px;
    margin-bottom: 10px;
    color:#7DB587
  }
  #landing-page p {
    font-size: 20px;
    line-height: 1.5;
    color: #4C5357;
    margin-bottom: 0;
  }

/* News Ticker */
.news-ticker {
  margin: 62px auto;
  width: 100%;
  height: 30px;
  position: relative;
  overflow: hidden;
  background-color: rgb(82, 82, 82);
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: bold;
}

.news-ticker ul {
  list-style-type: none;
  margin: 5px;
  padding: 0;
  display: inline-block;
  white-space: nowrap;
  text-align: center;
  animation: newsTicker 50s linear infinite;
}

.news-ticker li{
  display: inline;
  padding: 20px;
  color:rgb(255, 255, 255)
}

.news-ticker a{
  color:rgb(255, 255, 255);
  text-decoration: none;
}

.news-ticker a:hover{
  color:rgb(255, 255, 255);
  text-decoration: underline dotted;
}

@keyframes newsTicker {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* MAP */ 
.map {
  position: relative;
  margin: 200px 0 100px;
  text-align: center;
  width: 100%;
  height: 100%;
  z-index: 1;
}

/*
.mapbox {
  display: none;
}

.mapbox.active {
  display: block;
}
*/

#mapbox2 {
  position: relative;
  width:100%;
  height: 700px;
  margin: 0 auto;
}

/* #tabs {
  position: absolute;
  top: 0;
  left: 50%; 
  transform: translateX(-50%);
  z-index: 10;
  display: flex;
  justify-content: space-between;
  width: 100%; 
}

.tab {
  display: block;
  background-color: #ffffff;
  border: none;
  padding: 10px;
  cursor: pointer;
  flex-grow: 1;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  transition: background-color 0.3s ease;
}

.tab:hover {
  background-color: #7DB581;
  color:#FAF8F0;

}

.tab.active {
  background: #7DB581;
  color: #FAF8F0;
} */

/* hiding cluster map and switch tabs */

#mapbox1,
#mapSection #tabs .tab {
  display:none;
}

/* dropdown menu */
.dropdown-container {
  display: flex;
  align-items: center;
  position: relative;
  left: 100px; 
  top: 100px; 
  width: 200px;
}

.dropdown {
  width: 100%;
  background-color: rgba(219, 253, 196, 0.9);
  padding: 5px 10px;
  font-size: 16px;
  font-family: 'Helvetica', sans-serif;
  font-weight: 200;
  z-index: 5;
  cursor: pointer;
  box-sizing: border-box;
}

.dropdown::after {
  content: "";
  position: absolute;
  top: 60%;
  right: 15px;
  border: 6px solid transparent;
  border-top-color: #666; /* Adjust color as needed */
  transform: translateY(-50%);
}

#display-button {
  width: 100%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background: none;
  border: none;
  margin: 0;
  font-family: 'Helvetica', sans-serif;
  font-weight: 200;
  font-size: 16px;
  cursor: pointer;
  outline: none;
  box-sizing: border-box;
}

.drop-options {
  position: absolute;
  top: 100%;
  left: 0px;
  background-color: rgba(219, 253, 196, 0.9);
  width: 100%; 
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.drop-option {
  color: #444;
  padding: 12px 16px;
  height: 24px;
  text-decoration: none;
  display: block;
  font-family: 'Helvetica',sans-serif;
  font-weight: 200;
  text-align: center;
}

.dropdown:hover {
  background-color: #bed9ac;
}

.drop-option:hover {
  background-color: #bed9ac;
}

#dateRangePicker {
  position: relative;
  align-self: center;
  width: 98%;
  height: 40px;
  border: none;
  text-align: center;
  background-color: #F5F1E0;
}

#applyCustomDate {
  position: relative;
  width: 100%;
  height: 40px;
  border: none;
  background-color: #F5F1E0;
}

#applyCustomDate:hover {
  cursor: pointer;
  background-color:#eee5bb
}

/* Legend */
.map-overlay {
  position: absolute;
  bottom: 5px;
  left: 100px;
  background: #F5F1E0;
  opacity: 0.9;
  font-family: 'Helvetica', sans-serif;
  font-weight: 200;
  font-size: 15px;
  text-align: left;
  overflow: auto;
  border-radius: 3px;
} 

  #legend {
    padding: 10px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    line-height: 30px;
    height: 210px;
    margin-bottom: 40px;
    width: 180px;
  }

  .legend-key {
    display: inline-block;
    border-radius: 20%;
    width: 15px;
    height: 15px;
    margin-right: 5px;

}


/* map functions
#filter-group { 
  font-size: 12px;
  font-family: 'Helvetica', sans-serif;
  position: absolute;
  width: 25%;
  top: 40px;
  left: 0px;
  padding: 10px;
  z-index:5;
  background-color: transparent;
  box-shadow: none;
}


  #filter-group input[type='checkbox'] {
    display: none;
    }

  #filter-group input[type='checkbox'] + label {
    background-color: #888;
    display: block;
    border-radius: 3px;
    cursor: pointer;
    padding: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    text-transform: capitalize;
    }

    #filter-group input[type='checkbox'] + label:before {
      content: '';
      margin-right: 5px;
    }
      
    #filter-group input[type='checkbox']:checked + label {
    background-color: #7DB581;
    }
      
    #filter-group input[type='checkbox']:checked + label:before {
    content: '✔';
    }

    #filter-group {
      display:none;
    } */

/* .map-overlay .map-overlay-inner {
  background-color: rgba(125, 181, 129, 0.6);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  padding: 10px;
  margin-bottom: 10px;
  }

  .map-overlay input {
    background-color: transparent;
    display: inline-block;
    width: 100%;
    position: relative;
    margin: 0;
    cursor: ew-resize;
  } */

/* POP-UP */ 
.custom-popup .mapboxgl-popup-content {
  background-color: rgba(76, 83, 87, 0.8);
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  font-family: Arial, sans-serif;
  text-align: left;
}

.custom-popup .mapboxgl-popup-tip {
  border-top-color: #424A4C;
}

/* CHILD PAGE */
#clery,
#about {
  text-align: left;
  margin: 50px auto;
  max-width: 800px;
  position:relative;
  color:#333;
  top:100px
}
  #clery h2,
  #about h2 {
    font-weight:600;
    color:#7DB587;
  }

  #clery p,
  #about p {
    line-height: 1.5;
    margin-bottom: 30px;
    color:#333;
  }

  #clery a,
  #about a {
    color:#4C5357;
  }

  #clery a:hover,
  #about a:hover {
    color:#7DB581
  }

.data-background {
  background-color: #b4b1b1;
}
  .data-container{
  color: white;
  display: flex;
  justify-content: space-between;
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

  .data {
    flex:1;
    margin: 0 20px;
    line-height: 1em;
  }

  .data h1 {
    color: #7DB581;
    font-size: 50px;
  }


  /*stack on smaller screen */
  @media screen and (max-width: 768px) {
    .data-container {
      flex-direction: column;
    }
  }

/* Year, Month, Week, Day buttons */
.input-wrapper {
  display: flex;
  justify-content: center; /* Add this line to center the items */
}

#my_dataviz {
  margin-top: 10px;
  position: relative;
}

.tooltip {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 0.5rem;
  font-size: 0.875rem;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s;
}

.input-wrapper .options {
  display: flex;
  justify-content: center; /* Add this line to center the items */
}

.input-wrapper .options input[type="radio"] {
  display: none;
}

.input-wrapper .options label {
  display: inline-block;
  padding: 8px 16px;
  background-color: #E0E4E6;
  border: 1px solid #ccc;
  color: #777F83;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.input-wrapper .options label:first-of-type {
  border-top-left-radius: 4px; /* Apply rounded corners to the first label */
  border-bottom-left-radius: 4px;
}

.input-wrapper .options label:last-of-type {
  border-top-right-radius: 4px; /* Apply rounded corners to the last label */
  border-bottom-right-radius: 4px;
}

.input-wrapper .options label:hover {
  background-color: rgba(125, 181, 129, 0.6);
}

.input-wrapper .options input[type="radio"]:checked + label {
  background-color: #FAF8F0;
  color: #4C5357;
  font-weight: bold;
}

.story-container{
  color:#424A4C;
  display: flex;
  justify-content: space-between;
  margin:0 auto;
  max-width: 1000px;
}

  .story {
    flex:1;  
    margin:50px 10px;  
    padding: 0 100px;
  }

  .story h2 {
    color: #7DB581;
    font-size: 35px;
  }

  .story p {
    color:#777;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 700px;
    margin:20px auto;
    text-align: left;
    line-height: 1.5em;
  }

  .story .quote {
    color:#7DB581;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-style: italic;
    font-size: 18px;
    max-width: 700px;
    padding-left: 80px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
    line-height: 1.5em;
  }

  #inspoSection {
    text-align: center;
  }
  #inspoSection h2 {
    color: #7DB581;
    font-size: 35px;
  }

  #inspoSection p {
    color:#777;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 700px;
    margin:20px auto;
    text-align: left;
    line-height: 1.5em; 
  }
  #inspoSection p.centered {
    text-align: center;
    margin-top: 30px;
    color:#7DB587
  }

  #resource_sect p {
    color: #7DB581;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 30px;
    line-height: 1.5em;
    font-size: 15px;
  }

#main-container{
  min-height: calc(100vh - 50px);
  padding-bottom: 50px;
}

/* scroll reveal stylings */
.text-holder{
  width: 50%;
}

#json-content{
  width: 45%;
}

.json-sentence:not(:last-child) {
  margin-bottom: 1em;
}

.text-holder.left{
  float: left;
  text-align: left;
  justify-content: flex-start;
  align-items: flex-start;
}

.text-holder.right{
  float: right;
  text-align: right;
  justify-content: flex-end;
  align-items: right;
}

html.sr .load-hidden{
  visibility: hidden;
}

.emphasis {
font-weight: bold;
color: rgb(187 71 71);
font-size: 2em;
position: relative;
}

footer {
  color:#999;
  font-size: 10px;
  margin: 50px auto;
  padding: 10px;
  text-align: center;
  bottom: 0;
  width: 100%;
}